@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 10px ;
}

.slick-next{
    background-color: rgb(139, 203, 241) !important;
    padding-top: 0.2px !important;
    border-radius: 67px;
}

.slick-prev{
    background-color: rgb(139, 203, 241) !important;
    padding-top: 0.2px !important;
    border-radius: 67px;
}